body {
  --spacing-unit: 10px;
  --gutter: 30px;
  --max-width: 800px;

  --bg: #212121;
  --header-bg: #181818;
  --pill-bg: #181818;
  --pill-bg-hover: #000000;
  --footer-bg: #181818;
  --aside-bg: #181818;
  --card-bg: #323232d9;

  --text-primary: white;
  --text-muted: #b7b7b7;

  --shadow: none;
  --border-radius: 5px;

  background: var(--bg);
  color: var(--text-primary);
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 18px;
  line-height: 1.5;

  p {
    margin: var(--gutter) 0;
  }

  img {
    vertical-align: middle;
  }

  main {
    > div {
      min-height: calc(100vh - 49px); // height of footer
    }

    app-post-list {
      display: block;
      max-width: var(--max-width);
      margin: var(--gutter) auto;
    }
  }
}
