body {
  margin: 0;
  --max-width: 800px;

  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-large);
  line-height: var(--sl-line-height-normal);

  img {
    vertical-align: middle;
  }
  video,
  img {
    width: 100%;
    border-radius: var(--sl-border-radius-medium); // same as sl-card
  }

  main {
    > div {
      min-height: calc(100vh - 65px); // height of footer
    }

    app-header,
    app-footer {
      display: block;
      padding: var(--sl-spacing-small) var(--sl-spacing-medium);
    }
  }
}
