app-header {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  nav {
    a {
      color: initial;
      text-decoration: none;
      margin-right: var(--sl-spacing-small);
      display: inline-block;

      &[active],
      &:hover {
        text-decoration: underline;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .switch-container {
    text-align: right;
  }

  @media (max-width: 1000px) {
    header {
      display: block;

      p {
        margin-bottom: var(--sl-spacing-small);
      }

      .switch-container {
        text-align: left;
      }
    }
  }
}
