app-post-list {
  .card-container {
    display: block;
    width: 100%;
    margin: var(--sl-spacing-4x-large) 0;

    sl-card {
      display: block;
      width: 100%;
      max-width: var(--max-width);
      margin: 0 auto;

      [slot="header"] {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          color: initial;
        }
      }

      figure {
        margin: 0;
      }
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
