app-post-list {
  sl-card {
    display: block;

    [slot="header"] {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: initial;
      }
    }
  }

  figure {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: var(--sl-spacing-4x-large) 0;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
