app-post-list {
  .card-container {
    display: block;
    width: 100%;
    margin: var(--sl-spacing-4x-large) 0;

    .card {
      display: block;
      width: 100%;
      max-width: var(--max-width);
      margin: 0 auto;

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--sl-spacing-large);

        a {
          color: inherit;
        }
      }

      .card-header,
      .card-body,
      .card-footer {
        margin-left: var(--sl-spacing-large);
        margin-right: var(--sl-spacing-large);
      }

      figure {
        margin: 0;
      }
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
