name: build and deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch: {}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: install deps
        run: npm ci

      - name: generate static tumblr files
        env:
          consumer_key: ${{ secrets.TUMBLR_CONSUMER_KEY }}
          consumer_secret: ${{ secrets.TUMBLR_CONSUMER_SECRET }}
          token: ${{ secrets.TUMBLR_TOKEN }}
          token_secret: ${{ secrets.TUMBLR_TOKEN_SECRET }}
          blog: ${{ secrets.TUMBLR_BLOG }}
          NOT_SECRET: ${{ secrets.NOT_SECRET }}
        run: echo $NOT_SECRET
        # run: npm run tumblr-ci

      - name: generate dist
        run: npm run build

      - name: deploy to github pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist