name: build and deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch: {}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: install deps
        run: npm ci

      - name: generate static tumblr files
        env:
          CONSUMER_KEY: ${{ secrets.TUMBLR_CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.TUMBLR_CONSUMER_SECRET }}
          TOKEN: ${{ secrets.TUMBLR_TOKEN }}
          TOKEN_SECRET: ${{ secrets.TUMBLR_TOKEN_SECRET }}
          BLOG: ${{ secrets.TUMBLR_BLOG }}
        run: env tumblr_consumer_key=$TUMBLR_CONSUMER_KEY tumblr_consumer_secret=$TUMBLR_CONSUMER_SECRET tumblr_token=$TUMBLR_TOKEN tumblr_token_secret=$TUMBLR_TOKEN_SECRET tumblr_blog=$BLOG npm run tumblr-ci

      - name: generate dist
        run: npm run build

      - name: deploy to github pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist